# Windows Temporary Files
~$*.doc*
~$*.ppt*
*.tmp

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.loc
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.soc

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync